
.passwordConfirmation {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 16px;
  }
  
  
  .passwordConfirmation h2 {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #343a40;
    border-bottom: 1px solid #e5e7eb

  }
  
  .passwordConfirmation input {
    width: 25%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .passwordConfirmation input:focus {
    outline: none;
    border: 3px solid #007bff;
  }
  
  .passwordConfirmation button {
    width: fit-content;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .passwordConfirmation button:hover {
    background-color: #0056b3;
  }
  